@import url('https://fonts.googleapis.com/css?family=Nobile:400,700&display=swap');

body {
	margin: 0;
	height: 100vh;
	background: #141414;
	font-family: 'Nobile';
}

*, *:before, *:before {
	box-sizing: border-box;
}

.container {
	padding: 2em;
	height: 100vh;
}

h1 {
	text-align: center;
	margin-top: .6em;
	padding: .6em;
	font-weight: normal;
	font-size: 3em;
	line-height: .9em;
}

.line {
	align-self: center;
	border-right: 1px solid #ffffff;
	width: 50%;
	height: 50%;
	margin-bottom: 4em;
	position: relative;
}

header {
	display: flex;
	justify-content: space-between;
}

.logo {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
}

p {
	color: rgb(194, 194, 194);
	line-height: 1.5em;
}

h2 {
	color: white;
	font-size: 3em;
	margin-top: 4em;
	font-weight: normal;
}

.subtext {
	margin-top: 0;
	font-size: 1.4em;
	text-transform: uppercase;
}

.secondary {
	margin-top: -3em;
}

.mountains, .trees {
	position: absolute;
	width: 100%;
	z-index: -1;
}

.mountains {
	top: 0;
}

.trees {
	top: 15%;
}

@media only screen and (min-width: 665px) {
	.mountains {
		top: -25%;
	}

  .trees {
    top: -5%;
  }
}

@media only screen and (min-width: 930px) {
  .mountains {
    top: -60%;
  }

  .trees {
    top: -30%;
  }
}

@media only screen and (min-width: 1050px) {
	.mountains {
		top: -60%;
	}

	.trees {
		top: -40%;
	}
}
